{% extends 'base.html' %}

{% block main %}
    <h2 style="margin: 10px">List users</h2>
    <table style="margin: 10px" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Role</th>
            {% if has_role('ADMIN') %}
                <th colspan="2"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role.display_name }}</td>
                {% if has_role('ADMIN') %}
                    <td><a href="{{ url_for('users.edit_user', username=user.username) }}">edit</a></td>
                    <td>
                        <form method="post" action="{{ url_for('users.delete_user', username=user.username) }}">
                            <a href="#" onclick="confirm('Delete user?') && this.closest('form').submit()">delete</a>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if has_role('ADMIN') %}
        <p style="margin: 10px"><a href="{{ url_for('users.create_user') }}" class="btn btn-dark">Create user</a></p>
    {% endif %}
{% endblock %}