{% extends 'base.html' %}

{% block main %}
    <h2>Feladatok</h2>
    <table class="table table-striped">
        <tr>
            <th>1. Szó</th>
            <th>2. Szó</th>
            <th>3. Szó</th>
            <th>4. Szó</th>
            <th>Évfolyam</th>
            <th>Tanár</th>
            {% if has_role('TANAR') %}
                <th colspan="2"></th>
            {% endif %}
        </tr>
        {% for feladat in feladatok %}
            <tr>
            {% for i in range(4) %}
                <td>{{ feladat.strings[i] }}</td>
            {% endfor %}
            <td>{{ feladat.number }}</td>
            <td>{{ feladat.upload.user.username }}</td>
            {% if has_role('TANAR') %}
                {% if g.user.user_id == feladat.upload.user_id %}
                    <td><a href="{{ url_for('feladat.edit_feladat', feladat_id=feladat.id) }}" class="btn btn-dark">szerkesztés</a></td>
                    <td>
                        <form method="post" action="{{ url_for('feladat.delete_feladat', feladat_id=feladat.id) }}">
                            <a href="#" onclick="confirm('Biztosan törli a feladatot?') && this.closest('form').submit()" class="btn btn-dark">törlés</a>
                        </form>
                    </td>
                {% else %}
                    <td colspan="2"></td>
                {% endif %}
            {% endif %}
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('feladat.feladat_upload') }}" class="btn btn-dark">Új feladat feltöltése</a>
{% endblock %}