{% extends 'base.html' %}

{% block main %}
    <h2>Feladat feltöltése</h2>
    <form method="post" enctype="multipart/form-data">
        {% if form.errors|length > 0 %}
        <ul>
            {% for error in form.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <table style="margin: 10px">
            <tr>
                <th><label for="file">Töltse fel a feladat fájlt: </label></th>
                <td><input type="file" name="file" value="{{ form.file }}" id="file" required></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-dark">Feltöltés</button></td>
            </tr>
        </table>
    </form>
{% endblock %}