{% extends 'base.html' %}

{% block main %}
    {% if form.errors|length > 0 %}
        {% for error in form.errors %}
            <h3 class="alert alert-danger alert-dismissible fade show">{{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </h3>
        {% endfor %}
    {% endif %}

    <h2>Feladat feltöltése</h2>
    <form method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <th><label for="file">Töltse fel a feladat fájlt: </label></th>
                <td><input type="file" name="file" value="{{ form.file }}" id="file" required></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-dark">Feltöltés</button></td>
            </tr>
        </table>
    </form>
{% endblock %}