{% extends 'base.html' %}

{% block main %}
    <h2>Bemutatkozás</h2>
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Iskola</th>
        <th>Szerep</th>
        <th>Név</th>
        <th>Érdeklődés</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Ferences Gimnázium</td>
        <td>Felkészítő tanár</td>
        <td>Mátyássy Balázs</td>
        <td>Informatika oktatás</td>
    </tr>
    <tr>
        <td>Ferences Gimnázium</td>
        <td>Versenyző</td>
        <td>Horváth-Varga Márton</td>
        <td>Informatika, Commodore 64, matematika, néptánc, zene</td>
    </tr>
    <tr>
        <td>Ferences Gimnázium</td>
        <td>Versenyző</td>
        <td>Manyasz Bendegúz</td>
        <td>F1, foci, youtube, vasút, közösségi közlekedési hálózatok, politika</td>
    </tr>
    <tr>
        <td>Ferences Gimnázium</td>
        <td>Versenyző</td>
        <td>Mágori Péter</td>
        <td>Foci, fotózás, kerékpározás, webprogramozás, olasz kultúra, matematika</td>
    </tr>
    </tbody>
    </table>
{% endblock %}