{% extends 'base.html' %}

{% block main %}
    {% if form.errors|length > 0 %}
        {% for error in form.errors %}
            <h3 class="alert alert-danger alert-dismissible fade show">{{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </h3>
        {% endfor %}
    {% endif %}

    <h2>Bejelentkezés</h2>

    <form method="post">
        <table>
            <tr>
                <th><label for="username">Felhasználónév</label></th>
                <td><input type="text" name="username" value="{{ form.username }}" id="username" required></td>
            </tr>
            <tr>
                <th><label for="password">Jelszó</label></th>
                <td><input type="password" name="password" value="{{ form.password }}" id="password" required></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-dark">Bejelentkezés</button></td>
            </tr>
        </table>
    </form>
{% endblock %}