{% extends 'base.html' %}

{% block main %}
    <h2>Versenyek listája</h2>
    {% if versenyek|length > 0 %}
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Azonosító</th>
            <th>Név</th>
            <th>Leírás</th>
            <th>Kezdődik</th>
            <th>Végződik</th>
            {% if has_role('DIAK') %}
                <th></th>
            {% endif %}
            {% if has_role('ZSURI') %}
                <th colspan="3"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for verseny in versenyek %}
            <tr>
            <td>{{ verseny.id }}</td>
            <td>{{ verseny.name }}</td>
            <td>{{ verseny.description }}</td>
            <td>{{ format_epoch(verseny.kezdet) }}</td>
            <td>{{ format_epoch(verseny.veg) }}</td>
            {% if has_role('DIAK') %}
                <td>
                    {% if time() < verseny.kezdet or time() > verseny.veg or not has_role('DIAK') %}
                        <span>Nem elérhető</span>
                    {% else %}
                        <a href="{{ url_for('verseny.verseny_play', id=verseny.id) }}" class="btn btn-dark">részvétel</a>
                    {% endif %}
                </td>
            {% endif %}
            {% if has_role('ZSURI') %}
                    <td><a href="{{ url_for('verseny.edit_verseny', verseny_id=verseny.id) }}" class="btn btn-dark">szerkesztés</a></td>
                    <td>
                        <form method="post" action="{{ url_for('verseny.delete_verseny', verseny_id=verseny.id) }}">
                            <a href="#" onclick="confirm('Biztosan törli a versenyt?') && this.closest('form').submit()" class="btn btn-dark">törlés</a>
                        </form>
                    </td>
                    <td><a href="{{ url_for('verseny.result', verseny_id=verseny.id) }}" class="btn btn-dark">eredmény</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <div>Nincs elérhető verseny!</div>
    {% endif %}
    {% if has_role('ZSURI') %}
        <a href="{{ url_for('verseny.create_verseny') }}" class="btn btn-dark">Új verseny létrehozása</a>
    {% endif %}
{% endblock %}